*{
    font-family: 'Poppins', sans-serif;
    /* box-sizing: border-box; */
}
h1{
    text-align: center;
}
:root{
    --color: #ef7d0d;
    --shade: #b33e15;
}
body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    flex-direction: column;
}

.character{
    position: relative;
}

/* Character Shadow */
.character::after{
    content: "";
    position: absolute;
    width: 500px;
    height: 100px;
    background-color: #bebebe;
    border-radius: 50%;
    bottom: -20px;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
}

/* Character Body */
.body{
    position: relative;
    width: 240px; height: 360px;
    border: 25px solid #000;
    border-bottom: none;
    border-radius: 35% 45% 0 0;
    background-color: var(--shade);
    overflow: hidden;
}

.body::before{
    content: "";
    position: absolute;
    width: 100%; height: 90%;
    background-color: var(--color);
    border-radius: 10% 10% 32% 39% / 0% 10% 31% 100%;
}

/* Glass */

.glass{
    position: absolute;
    width: 200px; height: 110px;
    background-color: #4a646d;
    border: 25px solid #000;
    right: -40px;
    top: 76px;
    transform: rotate(-2deg);
    border-radius: 25% 45% 40% 40%/ 50%;
    overflow: hidden;
}
.glass::before{
    content: "";
    position: absolute;
    right: 0;
    width: 90%; height: 85px;
    background: #94c9db;
    border-radius: 10% 10% 27% 39% / 0% 10% 20% 100%;
}

/* glass reflection */
.white-reflection{
    position: absolute;
    width: 110px; height: 40px;
    background-color: #fff;
    transform: rotate(2deg);
    top: 12px; right: 26px;
    border-radius: 30% 100% 30% 100% / 100% 90% 90% 100%;
}

/* legs */
.character .legs{
    display: flex;
    justify-content: space-between;
}

.character .leg-left{
    width: 80px; height: 110px;
    background: var(--shade);
    border: 25px solid #000;
    border-top: none;
    border-radius: 0 0 40% 40%;
    position: relative;
}
.character .leg-right{
    width: 80px; height: 110px;
    background: var(--shade);
    border: 25px solid #000;
    border-top: none;
    border-radius: 0 0 40% 40%;
}

.character .leg-left::before{
    content: "";
    position: absolute;
    width: 100px; height: 25px;
    background-color: #000;
    left: 100%;
    border-radius: 0 0 100% 0;
}

/* Bag */
.character .bag{
    position: absolute;
    width: 90px; height: 200px;
    background-color: var(--color);
    top: 130px;
    left: -75px;
    z-index: -1;
    border: 25px solid #000;
    border-radius: 40% 0 0 40% / 30%;
    overflow: hidden;
}

.character .bag::before{
    content: "";
    position: absolute;
    width: 100%; height: 80%;
    background-color: var(--shade);
    bottom: 0;
    border-radius: 30% 70% 0 0 / 10% 50% 0 0;
}

/* Color Box */
.colorBoxes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
}
.colors{
    cursor: pointer;
    list-style: none;
    padding: 5px 9px;
    border: 2px solid #333;
    border-radius: 20px;
    text-align: center;
    transition: background 0.5s;
    font-weight: 500;
}
.colors:nth-child(1):hover{
    background-color: #c51111;
    color: #fff;
}
.colors:nth-child(2):hover{
    background-color: #132ed1;
    color: #fff;
}
.colors:nth-child(3):hover{
    background-color: #11712d;
    color: #fff;
}
.colors:nth-child(4):hover{
    background-color: #ed54ba;
    color: #fff;
}
.colors:nth-child(5):hover{
    background-color: #ef7d0d;
    color: #fff;
}
.colors:nth-child(6):hover{
    background-color: #f5dd57;
    color: #fff;
}
.colors:nth-child(7):hover{
    background-color: #3f474e;
    color: #fff;
}
.colors:nth-child(8):hover{
    background-color: #d6e0f0;
    color: #fff;
}
.colors:nth-child(9):hover{
    background-color: #6b2fbb;
    color: #fff;
}
.colors:nth-child(10):hover{
    background-color: #71491e;
    color: #fff;
}
.colors:nth-child(11):hover{
    background-color: #38fedc;
    color: #fff;
}
.colors:nth-child(12):hover{
    background-color: #50ef39;
    color: #fff;
}

/* Text Background */
.bigText{
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    z-index: -3;
    font-size: 7rem;
}
.bigText h1{
    color: rgb(212, 206, 206);
    -webkit-text-stroke: 2px solid #000;
}
