@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    margin: 40px;
    background: #FFF;
    box-shadow: 0 35px 55px rgba(0,0,0,0.195);
}
/*--------------------Left Side--------------------*/
.container .left_side{
    position: relative;
    background: #FFC700;
    padding: 40px;

}
.profiletext{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 2px solid rgba(48, 48, 48, 0.3);
}
.profiletext .profileimg{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.profiletext .profileimg img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profiletext h2{
    color: #2c2c2c;
    font-size: 24px;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 30px;
}
.profiletext h2 span{
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
}
.contactinfo_contact{
    padding-top: 30px;
}
.contactinfo_contact .title{
    color: #2c2c2c;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.3px;
    margin-bottom: 20px;
}
.contactinfo_contact ul{
    position: relative;
}
.contactinfo_contact ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
.contactinfo_contact ul li .icon{
    display: inline-block;
    width: 30px;
    font-size: 18px;
}
.contactinfo_contact ul li span{
    color:#2c2c2c;
    font-weight: 500;
    font-size: 15px;
}
.contactinfo_contact ul li a{
    color:#2c2c2c;
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
}
.contactinfo_education{
    padding-top: 25px;
}
.contactinfo_education .title{
    color: #2c2c2c;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.2px;
    margin-bottom: 16px;
}
.contactinfo_education li{
    padding-bottom: 15px;
}
.contactinfo_education h5{
    color: #2c2c2c;
    padding-bottom: 5px;
}
.contactinfo_education ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;    
}
.contactinfo_education .small-h{
    font-size: 13px;
    font-weight: 600;
}
.contactinfo_language{
    padding-top: 24px;
}
.contactinfo_language .title{
    color: #2c2c2c;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.2px;
    margin-bottom: 20px;
}
.contactinfo_language ul{
    list-style: none;
}
.contactinfo_language .text{
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
}
.contactinfo_language li{
    padding-bottom: 20px;
}
.contactinfo_language .percent{
    position: relative;
    width: 100%;
    height: 6px;
    background: rgba(17, 17, 17, 0.4);
    display: block;
    margin-top: 5px;
}
.contactinfo_language .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #E60D25;
}
/*--------------------------------------------------*/
/*--------------------Right Side--------------------*/
.container .right_side{
    position: relative;
    background: #FFF;
    padding: 40px;
}   
.about{
    margin-bottom: 60px;
}
.about:last-child{
    margin-bottom: 0;
}
.title2{
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    margin-bottom: 22px;
}
.title3{
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    margin-bottom: 28px;
}
p{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
}
p span{
    font-weight: 400;
    letter-spacing: 0.8px;
}
.about .box{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}
.about .box h4{
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: rgb(73, 73, 73);
}
.skills .box{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}
.skills .box .percent{
    position: relative;
    width: 80%;
    height: 10px;
    background: #F0F0F0;
}
.skills .box .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #E60D25;
}
.interest ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.interest ul li{
    list-style: none;
    color: #333;
    font-weight: 500;
    margin: 10px 0;
}
.interest ul li .fas{
    color: #2c2c2c;
    font-size: 20px;
    width: 20px;
}
.interest ul li span{
    color: #333;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 16px;
}
@media (max-width: 1000px){
    .container{
        margin: 10px;
        grid-template-columns: repeat(1,1fr);
    }
    .interest ul{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width: 600px){
    .about .box{
        flex-direction: column;
    }
    .interest ul{
        grid-template-columns: repeat(1,1fr);
    }
}
@media (max-width: 380px){
    p{
        font-size: 13px;
    }
    .about .box h4{
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 10px;
        text-transform: uppercase;
        color: rgb(73, 73, 73);
    }
}
